.LinksItem {
  padding: 10px;

  a {
    text-decoration-line: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
    color: #02350d;
    padding: 0px 15px 0px 15px;
    transition: 0.3s;

    &:hover {
      color: #a2a376;
    }
  }
}

.LinksItemPage {
  position: relative;
}

.PageLinks {
  position: absolute;
  top: 80px;
  background-color: #fff2e6;
  list-style: none;
  padding-inline-start: 0;
  border-radius: 12px;

  li {
    a {
      display: block;
      font-size: 16px;
      text-transform: none;
      padding: 14px 0;
      padding-right: 64px;
      padding-left: 24px;
      transition: 0.6s;

      &:hover {
        background-color: #9ea676;
        border: none;
        border-radius: 12px;
        color: #fff;
      }
    }
  }
}
