.About {
  font-size: 78px;
  text-align: center;
  width: 100%;
  min-height: 38vh;
  background-color: #00340b;
  color: #fff;
  text-shadow: -4px 3px 0px #9ea676;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  h1 {
    margin: 0;
    margin-top: 150px;
  }
}

.AboutLinks {
  display: flex;
  font-size: 14px;
  list-style: none;
  text-shadow: none;
  z-index: 30;
  padding-bottom: 100px;
}

.AboutLink {
  color: #7e8d60;
  cursor: pointer;

  a {
    text-decoration-line: none;
    color: #7e8d60;

    &:hover {
      color: #c69830;
    }
  }

  &:not(:last-child) {
    &::after {
      content: "/";
      margin: 0 14px;
    }
  }
}

.CustomShape {
  // position: absolute;
  // bottom: 0;
  // width: 100%;
  // min-height: 60vh;
  position: absolute;
  top: 340px;
  width: 100%;
}
