.About {
  font-size: 78px;
  text-align: center;
  width: 100%;
  min-height: 38vh;
  background-color: #00340b;
  color: #fff;
  text-shadow: -4px 3px 0px #9ea676;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  h1 {
    margin: 0;
    margin-top: 150px;
  }
}

.AboutLinks {
  display: flex;
  font-size: 14px;
  list-style: none;
  text-shadow: none;
  z-index: 30;
  padding-bottom: 100px;
}

.AboutLink {
  color: #7e8d60;
  cursor: pointer;

  a {
    text-decoration-line: none;
    color: #7e8d60;

    &:hover {
      color: #c69830;
    }
  }

  &:not(:last-child) {
    &::after {
      content: "/";
      margin: 0 14px;
    }
  }
}

.CustomShape {
  position: absolute;
  top: 340px;
  width: 100%;
}

.History {
  padding: 80px 150px;
  background-color: #063b1e;
  color: #eaf3ec;
}

.HistoryHeader {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 80px;
  align-items: center;

  p {
    color: #a2a8a4;
  }
}

.HistoryHeader h1 {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
  text-shadow: -3px 2px 0px #9ea676;
}

.HistoryHeader h1 span {
  color: #f6b400;
}

.HistoryIntro {
  max-width: 750px;
  font-size: 15px;
  line-height: 1.7;
}

.HistoryTabs {
  display: flex;
  gap: 40px;
  margin-bottom: 60px;
}

.HistoryTabs a {
  text-decoration: none;
  font-size: 15px;
  color: #cde3d3;
  position: relative;
  padding-bottom: 6px;
  border-bottom: 2px solid #9ea676;

  &:hover {
    color: #f6b400;
  }
}

.HistoryTabs a.Active {
  color: #f6b400;
}

.HistoryContent {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 80px;
  align-items: center;
}

.HistoryImage img {
  width: 100%;
  border-radius: 16px;
  object-position: center;
  object-fit: cover;
}

.HistoryText .HistoryYear {
  font-size: 16px;
  font-weight: 600;
  color: #9ea676;
  margin-bottom: 12px;
  display: block;
  font-weight: bold;
}

.HistoryText h2 {
  font-size: 40px;
  font-weight: 700;
  color: #f6b400;
  margin-bottom: 20px;
}

.HistoryText p {
  font-size: 15px;
  line-height: 1.8;
  max-width: 420px;
}
