.CateringCircleImg {
  width: 14%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h4 {
    color: #e34929;
    font-size: 24px;
    margin: 10px 0;
  }

  img {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.CateringLink {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: #2a5732;
  cursor: pointer;
}
