.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;

  img {
    width: 250px;
  }
}

.Links {
  display: flex;
  list-style: none;
  padding-inline-start: 0;
}

.CallUs {
  display: flex;
  text-decoration-line: none;
  color: #2a5732;
  transition: 0.3s;

  .Icon {
    font-size: 2.5rem;
    background-color: #e34929;
    color: #fff;
    padding: 10px;
    border-radius: 0.7rem;
    margin-right: 1rem;
  }

  span {
    color: #000;
    font-weight: bold;
    font-size: 1rem;
  }

  &:hover {
    .CallPhone {
      color: #e34929;
    }
  }
}

.HeaderCall {
  font-size: 10px;
  margin-bottom: 6px;
}
