.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;

  img {
    width: 250px;
  }
}

.Links {
  display: flex;
  list-style: none;
}

.LinksItem {
  padding: 10px;

  a {
    text-decoration-line: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
    color: #02350d;
    padding: 0px 15px 0px 15px;
    transition: 0.3s;

    &:hover {
      color: #a2a376;
    }
  }
}

.LinksItemPage {
  position: relative;
}

.PageLinks {
  position: absolute;
  top: 80px;
  background-color: #fff2e6;
  list-style: none;
  padding-inline-start: 0;
  padding: 10px;
  border-radius: 12px;

  li {
    a {
      display: block;
      font-size: 16px;
      text-transform: none;
      padding: 14px 0;
      padding-right: 64px;
      padding-left: 24px;
      transition: 0.6s;

      &:hover {
        background-color: #9ea676;
        border: none;
        border-radius: 12px;
        color: #fff;
      }
    }
  }
}

.CallUs {
  display: flex;
  text-decoration-line: none;
  color: #2a5732;
  transition: 0.3s;

  .Icon {
    font-size: 2rem;
    background-color: #e34929;
    color: #fff;
    padding: 10px;
    border-radius: 0.7rem;
    margin-right: 1rem;
  }

  span {
    color: #000;
    font-weight: bold;
    font-size: 1rem;
  }

  &:hover {
    .CallPhone {
      color: #e34929;
    }
  }
}

.HeaderCall {
  font-size: 10px;
  margin-bottom: 6px;
}
