.PartnerSection {
  padding: 30px 0;
  background-color: #fff9f4;
}

.PartnerTitle {
  padding: 30px 0;
  color: #416646;
  text-align: center;
  font-weight: bold;
}

.PartnerBoxes {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.PartnerBox {
  max-width: 100%;
  width: 250px;
  opacity: 0.3;
  filter: grayscale(100%);

  &:hover {
    opacity: 1;
  }
}
