.Footer {
  background-color: #00340b;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px 4%;
  position: relative;
}

.FooterLinks {
  display: flex;
}

.FooterLink {
  list-style: none;

  &:not(:last-child) {
    &::after {
      content: "|";
      margin: 0 14px;
      color: #fff;
    }
  }

  a {
    color: #fff;
    text-decoration-line: none;
  }
}

.ArrowUp {
  color: #fff;
  font-size: 32px;
  position: absolute;
  right: 10px;
  top: 25px;
  cursor: pointer;
}
