body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.Main {
  background-color: #fff9f4;
}

.h1 {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  text-align: center;
  margin-top: 5rem;

  span {
    font-size: 64px;
    text-shadow: -4px 2px 0px #000000;
    color: #9ea676;
  }
}

.OrderLinks {
  display: flex;
  justify-content: center;

  a {
    margin: 20px;
    padding: 15px;
    background-color: #e34929;
    border-radius: 8px;
    text-decoration-line: none;
    color: #ffffff;
    font-weight: bold;
    transition: 0.3s;

    &:first-child:hover {
      background-color: #000;
    }

    &:last-child {
      background-color: transparent;
      border: 1px solid #2a5732;
      color: #e34929;

      &:hover {
        background-color: #2a5732;
      }
    }
  }
}

.imageGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.imageItem {
  flex: 0 0 calc(25% - 15px);
  box-sizing: border-box;
  position: relative;
  border-radius: 18px;
  object-fit: cover;
  object-position: left;

  &:nth-child(1) {
    rotate: 10deg;
  }

  &:nth-child(2) {
    left: 100px;
  }
  &:nth-child(3) {
    top: 400px;
    left: 100px;
    z-index: 10;
  }
  &:nth-child(4) {
    right: 100px;
    rotate: -15deg;
  }
  &:nth-child(5) {
    left: 10px;
    top: 100px;
  }
  &:nth-child(6) {
    top: 150px;
    left: 50px;
  }
  &:nth-child(7) {
    left: 600px;
    top: 100px;
    z-index: 20;
  }
}

.slideUp {
  width: 100%;
  max-width: 20%;
  height: auto;
  opacity: 0;
  transform: translateY(100px);
  animation: slideUpAnimation 1s ease-out forwards;
}

.slide-up:nth-child(1) {
  animation-delay: 1s;
}
.slide-up:nth-child(2) {
  animation-delay: 2s;
}
.slide-up:nth-child(3) {
  animation-delay: 3s;
}
.slide-up:nth-child(4) {
  animation-delay: 4s;
}
.slide-up:nth-child(5) {
  animation-delay: 5s;
}
.slide-up:nth-child(6) {
  animation-delay: 6s;
}
.slide-up:nth-child(7) {
  animation-delay: 7s;
}

.ShapeContainer {
  position: relative;
  text-align: center;
  z-index: 30;
}

.Shape {
  display: block;
  margin: auto;
  width: 30%;
}

.Centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;

  h2 {
    font-size: 60px;
    text-shadow: -3px 0px #9ea676;
  }
}

.BurgerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.Burger {
  width: 250px;
}

.BurgerAndText {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2a5732;
  font-weight: bold;
  font-size: 1.3rem;
}

@keyframes slideUpAnimation {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Catering {
  padding: 50px 0;

  h2 {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
    text-align: center;
    text-shadow: -4px 2px 0px #000000;
    color: #9ea676;
  }
}

.CateringImgContainer {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  gap: 20px;
  padding: 0 40px;
}

.Test {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 18px;
}

.Test2 {
  width: 80%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 18px;
}

.CateringCircle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 100px 0;

  h2 {
    margin: 20px;
  }

  p {
    color: #888785;
  }
}

.CarouselContainer {
  padding: 3rem 0;
  background-color: #00340b;
  color: #fff;
  text-align: center;
}

hr {
  border-bottom: 1px solid #dddeb3;
  margin: 4pc 10%;
}

.CounterContainer {
  display: flex;
  justify-content: center;
  gap: 45px;
}

.Accordion {
  padding: 100px 0;
}

.AccordionTitle {
  text-align: center;
  font-size: 60px;
  text-shadow: -4px 3px 0px #9ea676;
  color: #00340b;
}

.Dashed {
  display: flex;
  justify-content: center;
}

.Dashed span {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.Dashed span::after,
.Dashed span::before {
  content: "";
  border-block-end: 0;
  border-block-start: 1px;
  border-style: dashed;
  margin: 0 6px 0 6px;
}
