body {
  margin: 0;
  padding: 0;
}

.Main {
  background-color: #fff9f4;
}

.h1 {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  text-align: center;
  margin-top: 5rem;

  span {
    font-size: 64px;
    text-shadow: -4px 2px 0px #000000;
    color: #9ea676;
  }
}

.OrderLinks {
  display: flex;
  justify-content: center;

  a {
    margin: 20px;
    padding: 15px;
    background-color: #e34929;
    border-radius: 8px;
    text-decoration-line: none;
    color: #ffffff;
    font-weight: bold;
    transition: 0.3s;

    &:first-child:hover {
      background-color: #000;
    }

    &:last-child {
      background-color: transparent;
      border: 1px solid #2a5732;
      color: #e34929;

      &:hover {
        background-color: #2a5732;
      }
    }
  }
}
