body {
  margin: 0;
  padding: 0;
}

.Main {
  background-color: #fff9f4;
}

.h1 {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  text-align: center;
  margin-top: 5rem;

  span {
    font-size: 64px;
    text-shadow: -4px 2px 0px #000000;
    color: #9ea676;
  }
}

.OrderLinks {
  display: flex;
  justify-content: center;

  a {
    margin: 20px;
    padding: 15px;
    background-color: #e34929;
    border-radius: 8px;
    text-decoration-line: none;
    color: #ffffff;
    font-weight: bold;
    transition: 0.3s;

    &:first-child:hover {
      background-color: #000;
    }

    &:last-child {
      background-color: transparent;
      border: 1px solid #2a5732;
      color: #e34929;

      &:hover {
        background-color: #2a5732;
      }
    }
  }
}

// .imageGrid {
//   position: relative;
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   gap: 20px;

//   & .imageItem {
//     position: relative;
//     width: 20%;
//     height: 20%;
//     flex: 0 0 calc(25% - 15px);
//     box-sizing: border-box;
//     border-radius: 10%;

//     &:nth-child(1) {
//       rotate: 10deg;
//     }

//     &:nth-child(2) {
//       left: 100px;
//     }
//     &:nth-child(3) {
//       top: 400px;
//       z-index: 10;
//     }
//     &:nth-child(4) {
//       right: 100px;
//       rotate: -15deg;
//     }
//     &:nth-child(5) {
//       left: 100px;
//       top: 100px;
//     }
//     &:nth-child(6) {
//       left: 50;
//     }
//     &:nth-child(7) {
//       left: 300px;
//     }
//   }
// }
.imageGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.imageItem {
  flex: 0 0 calc(25% - 15px);
  box-sizing: border-box;
  position: relative;
  border-radius: 18px;

  img {
    position: absolute;
    // width: 100%;
    // height: 100%;
    object-fit: cover;
  }

  &:nth-child(1) {
    rotate: 10deg;
  }

  &:nth-child(2) {
    left: 100px;
  }
  &:nth-child(3) {
    top: 400px;
    left: 100px;
    z-index: 10;
  }
  &:nth-child(4) {
    right: 100px;
    rotate: -15deg;
  }
  &:nth-child(5) {
    left: 10px;
    top: 100px;
  }
  &:nth-child(6) {
    top: 150px;
  }
  &:nth-child(7) {
    left: 600px;
    top: 100px;
    z-index: 20;
  }
}

.slideUp {
  width: 100%;
  max-width: 20%;
  height: auto;
  opacity: 0;
  transform: translateY(100px);
  animation: slideUpAnimation 1s ease-out forwards;
}

.slide-up:nth-child(1) {
  animation-delay: 1s;
}
.slide-up:nth-child(2) {
  animation-delay: 2s;
}
.slide-up:nth-child(3) {
  animation-delay: 3s;
}
.slide-up:nth-child(4) {
  animation-delay: 4s;
}
.slide-up:nth-child(5) {
  animation-delay: 5s;
}
.slide-up:nth-child(6) {
  animation-delay: 6s;
}
.slide-up:nth-child(7) {
  animation-delay: 7s;
}

@keyframes slideUpAnimation {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
