body {
  margin: 0;
  padding: 0;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;

  img {
    width: 250px;
  }
}

.Links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 14px;
  align-items: center;
}

.LinksItem a {
  text-decoration-line: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  color: #02350d;
  padding: 0px 15px 0px 15px;
  transition: 0.3s;

  &:hover {
    color: #a2a376;
  }
}

.LinksItemPage {
  position: relative;
}

.PageLinks {
  position: absolute;
  top: 80px;
  background-color: #fff2e6;
  list-style: none;
  padding-inline-start: 0;
  padding: 10px;

  li {
    a {
      display: block;
      font-size: 16px;
      text-transform: none;
      padding: 14px 0;
      padding-right: 64px;
      padding-left: 24px;

      &:hover {
        background-color: #9ea676;
        border: none;
        border-radius: 12px;
        color: #fff;
      }
    }
  }
}

.CallUs {
  display: flex;
  text-decoration-line: none;
  color: #2a5732;
  transition: 0.3s;

  .Icon {
    font-size: 2rem;
    background-color: #e34929;
    color: #fff;
    padding: 10px;
    border-radius: 0.7rem;
    margin-right: 1rem;
  }

  span {
    color: #000;
    font-weight: bold;
    font-size: 1rem;
  }

  &:hover {
    .CallPhone {
      color: #e34929;
    }
  }
}

.HeaderCall {
  font-size: 10px;
  margin-bottom: 6px;
}

.Main {
  background-color: #fff9f4;
}

.h1 {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  text-align: center;
  margin-top: 5rem;

  span {
    font-size: 64px;
    text-shadow: -4px 2px 0px #000000;
    color: #9ea676;
  }
}

.OrderLinks {
  display: flex;
  justify-content: center;

  a {
    margin: 20px;
    padding: 15px;
    background-color: #e34929;
    border-radius: 8px;
    text-decoration-line: none;
    color: #ffffff;
    font-weight: bold;
    transition: 0.3s;

    &:first-child:hover {
      background-color: #000;
    }

    &:last-child {
      background-color: transparent;
      border: 1px solid #2a5732;
      color: #e34929;

      &:hover {
        background-color: #2a5732;
      }
    }
  }
}
