body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #fff9f4;
}

.h1 {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  text-align: center;
  margin-top: 5rem;

  span {
    font-size: 64px;
    text-shadow: -4px 2px 0px #000000;
    color: #9ea676;
  }
}

.OrderLinks {
  display: flex;
  justify-content: center;

  a {
    margin: 20px;
    padding: 15px;
    background-color: #e34929;
    border-radius: 8px;
    text-decoration-line: none;
    color: #ffffff;
    font-weight: bold;
    transition: 0.3s;

    &:first-child:hover {
      background-color: #000;
    }

    &:last-child {
      background-color: transparent;
      border: 1px solid #2a5732;
      color: #e34929;

      &:hover {
        background-color: #2a5732;
      }
    }
  }
}

.Catering {
  padding: 50px 0;

  h2 {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
    text-align: center;
    text-shadow: -4px 2px 0px #000000;
    color: #9ea676;
  }
}

.CateringImgContainer {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  gap: 20px;
  padding: 0 40px;
}

.Test {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 18px;
}

.Test2 {
  width: 80%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 18px;
}

.CateringCircle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 100px 0;

  h2 {
    margin: 20px;
  }

  p {
    color: #888785;
  }
}

.CarouselContainer {
  padding: 3rem 0;
  background-color: #00340b;
  color: #fff;
  text-align: center;
}

hr {
  border-bottom: 1px solid #dddeb3;
  margin: 4pc 10%;
}

.CounterContainer {
  display: flex;
  justify-content: center;
  gap: 45px;
}

.Accordion {
  background-color: #f5f1e7;
  padding: 100px 0;
}

.AccordionTitle {
  text-align: center;
  font-size: 60px;
  text-shadow: -4px 3px 0px #9ea676;
  color: #00340b;
}

.Dashed {
  display: flex;
  justify-content: center;
}

.Dashed span {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.Dashed span::after,
.Dashed span::before {
  content: "";
  border-block-end: 0;
  border-block-start: 1px;
  border-style: dashed;
  margin: 0 6px 0 6px;
}

.FadeIn {
  animation-name: fadeInBottom;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
  }
}
